body {
  background-image: url("Sprinkles.jpg");
  background-color: hsl(213, 85%, 92%);
  background-blend-mode: overlay;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  font-family: Georgia, serif;
}

html{
  height: 100%;
  width: 100%;
}

#myCanvas1 {
  border: 1px solid black;
  background-image: url("https://cdn.eso.org/images/screen/eso1019a.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



